<section class="col-6">
  <% @user_names.each do |k, v| %>
    <div class="list-group">
      <a href="users/<%= k %>" class="list-group-item list-group-item-action"><%= k %></a>
    </div>
  <% end %>
</section>
